body{
  background-position: top;
  background-color: #f5b770;
}

.login{
  height: 25%;
  width: 50%; 
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px ;
  padding: 50px 35px
}

.button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.immagine{
  width: 30%;
  height: 30%;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.game_table {
  width: 100%;
  height: 775px;
  display: flex;
  flex-direction:column;
  row-gap:0;
  background-color: #4be24b;
}


#row1{
  width: 60%;
  height:20%;
  margin:auto;
}
#row2{
  height:60%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  
}

.player_card1{
  /*background-color:red;*/
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-right:30%;
  padding-left:30%;
  /*
  position:absolute; 
  top: 80%;
  left:35%;
  width:30%;
  height:25%*/
}
.player_card2{
  /*background-color:#906464;*/
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-right:30%;
  padding-left:30%;
  /*
  position:absolute; 
  top: 15%;
  left:35%;
  width:30%;
  height:25%*/
}
.player_card3{
  /*background-color:#0011ff;*/
  display:flex;
  flex-direction:column;
  padding-left:10%;
  /*
  position:absolute; 
  bottom: 30%;
  right:84%;
  width:25%;
  height:35%;
  transform:rotate(90deg)*/
}
.player_card4{
  /*background-color:#18f708;*/
  display:flex;
  flex-direction:column;
  
  /*
  position:absolute; 
  bottom: 30%;
  left:78%;
  width:25%;
  height:50%;
  transform:rotate(90deg)*/
}

.spazio_gioco{
  position: relative;
background-color: #47cd47;}

.played{
  /*background-color:#000000;*/
  position: absolute;
  top:30%;
  left:70%;
  width:20%;
  height:45%
}
.briscola{
  /*background-color:#ffa200;*/
  position: absolute;
  top:30%;
  left:57%;
  width:20%;
  height:45%;
}
.deck{
  /*background-color:#f708d7;*/
  position: absolute;
  top:30%;
  left:10%;
  width:50%;
  height:40%
}

.immagine_ruotata{
  transform:rotate(90deg)
}

.carte_giocatore:hover{
  transform:scale(1.1);
}

.carte_terra:hover{
  transform:scale(1.1);
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.shake{
  animation-name: tilt-shaking;
  animation-duration: 3s;
}

.hover{
  transform:scale(1.1);
}

.buttonn {
  position: relative;
  width: 11em;
  height: 4em;
  outline: none;
  transition: 0.1s;
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #ddebf0;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

.buttonn:hover #rightArrow {
  background-color: #27c39f;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.buttonn:hover #leftArrow {
  background-color: #27c39f;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3.0em;
}

#leftBottom {
  top: 2.10em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

.buttonn:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.buttonn:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.buttonn:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.buttonn:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
  0.2s linear 0.4s both lightEffect8;
}

.buttonn:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

.buttonn:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }

  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }

  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }

  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }

  to {
    transform: translateX(-10px);
  }
}
